
.page-title {
    display:inline-block;
    left:100px;
    margin-right:50px;
}
.add-button {
  display:inline-block;
  float: right;
  color: #fff  !important;
  background-color: green !important;
} 


