  .table-style {
    min-width: 650px;
  }
  .table-style-even-row {
    background-color: #fff;
  }
  .table-style-odd-row {
    background-color: #f2f2f2;
  }
  .table-head-row { 
      background: black;
      color: white
}