/* #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
} */

/* .component {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  } */
  #container {
    display: flex;
    justify-content: center;
  }
