.login-main-text{
    color: #000000;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

@media screen and (max-width: 450px) {   
    .login_logo {
		height:15vh;
		width:36vh;
	}
	.login-main-text{
	    padding: 60px;
	}
}

body {
}

@media screen and (min-width: 451px) {    
	
    #login-view-main-container {
/*         background-image: url('../images/pexels-photo-325185-dubai-free-to-use.webp'); */
/*         background-repeat: no-repeat; */
/*         background-attachment: fixed; */
/*         background-size: cover; */
        margin-left: 23%;
    }
    .login-form {
        margin-top:40px;
        margin-left: 5vw;
    }
    
    .login_logo {
		height:20vh;
	}
	
	.login-main-text{
	    margin-top: 10%;	
	    margin-left: 10%;
	    	   
	}
}