/* body{ */
/* 	background-color: #D9E0E7; */
	
/* } */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
/*     padding-left: 5vw; */
    padding-top: 6vh;
    background-color: #fff;
    height:100vh;
}
.main {
	padding-left: 5px;
/* padding-left: 3vw;  */
	padding-right: 5px;
/*     background-color: #D9E0E7; */
/*     width:90vw; */
    height:90vh;
    padding-top: 3vh;
}
.container-sm {
	padding-top: 15vh;
	
}